
<style>
    .dataTables_length {
        margin-left: 420px;
    }
</style>

<script type="text/javascript">

    var gstin = $("#ddlGSTINNo").val();
    var period = $("#period").val();

    $(document).ready(function () {

        oTableStaticFlow_B2CLA = $("#G1_B2CLA").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 50,

            "ajax": {
                "url": "/DataHelper/GetGSTR1Data/?strGSTINNo=" + gstin + "&strFp=" + period + "&strFlag=&strAction=B2CLA",
                "type": "POST",
                "datatype": "json"
            },
            language: {
                processing: "<h3 class='text-center btn btn-primary' style='font-weight:bold;border-radius:5px;margin-top:-12px'>Loading....</h3>"
            },
            "columnDefs":
            [{
                "targets": 0,
                "searchable": false,
                "orderable": false,
                "width": '2%',
                "className": 'chkSelectAll_B2CLA',
                "data": 'invid',
                "render": function (data, type, full, meta) {
                    return '<input type="checkbox" name="ids" id="ids" class="chkSelectAll_B2CLA" value="' + data + '" />';
                },
                'order': [1, 'asc']
            }],

            "columns": [
                  { "data": "invid", "autoWidth": true },
                  { "data": "pos", "name": "POS", "autoWidth": true },
                  { "data": "oinum", "name": "Original Inv No", "autoWidth": true },
                  { "data": "oidt", "name": "Original Inv Date", "autoWidth": true },
                  { "data": "diff_percent", "name": "Diff Percent", "autoWidth": true },
                  { "data": "inum", "name": "Inv No", "autoWidth": true },
                  { "data": "idt", "name": "Inv Date", "autoWidth": true },
                  { "data": "val", "name": "Inv Value", "autoWidth": true },
                  { "data": "etin", "name": "ETIN", "autoWidth": true },
                  { "data": "rt", "name": "Rate", "autoWidth": true },
                  { "data": "txval", "name": "Tax amt", "autoWidth": true },
                  { "data": "iamt", "name": "IGST", "autoWidth": true },
                  { "data": "camt", "name": "CGST", "autoWidth": true },
                  { "data": "samt", "name": "SGST", "autoWidth": true },
                  { "data": "csamt", "name": "CESS", "autoWidth": true },
            ]

        });


        $("#chkSelectAll_B2CLA").click(function () {
            var cols = oTableStaticFlow_B2CLA.column(0).nodes(),
                state = this.checked;
            for (var i = 0; i < cols.length; i += 1) {
                cols[i].querySelector("input[type='checkbox']").checked = state;
            }
        });

        $('.chkSelectAll_B2CLA').click(function () {
            var status = this.checked;
            if (status == false) {
                $("#chkSelectAll_B2CLA").prop("checked", false);
            }
        });

        $("#G1_B2CLA").on("click", ".chkSelectAll_B2CLA", function () {
            var status = this.checked;
            if (status == false) {
                $("#chkSelectAll_B2CLA").prop("checked", false);
            }
        });

        $("#btnGSTR1B2CLA").click(function () {
            var allVals = [];
            var selectIds = ',';
            var cols = oTableStaticFlow_B2CLA.column(0).nodes();
            for (var i = 0; i < cols.length; i += 1) {
                if (cols[i].querySelector("input[type='checkbox']").checked == true) {
                    var chkVal = cols[i].querySelector("input[type='checkbox']").value;
                    //allVals.push(chkVal);
                    selectIds = selectIds + chkVal + ','
                }
                else {
                    //selectIds = selectIds+'0'+ ','
                    //allVals.push(0);
                }
            }
            console.log(selectIds);
            $("#InvIds").val();
            $("#InvIds").val(selectIds);
        });

    });
</script>

<style>
    table.dataTable thead .sorting:after {
        opacity: 0 !important;
        content: none !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0em !important;
    }

    table.gridtable th {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #3276b1;
    }

    table.gridtable td {
        text-align: center;
    }

    #chkSelectAll {
        margin-left: 4px !important;
    }

    .headerstyle {
        background-color: #cbd2d5 !important;
        color: #000 !important;
        font-weight: bold;
    }
</style>

<div class="table table-responsive">

    <div class="container-fuild" style="background-color:white;">
        <table id="G1_B2CLA" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <td align="center"><input type="checkbox" id="chkSelectAll_B2CLA" name="ids" /></td>
                    <th>POS</th>
                    <th>Original Inv No</th>
                    <th>Original Inv Date</th>
                    <th>Diff Percent</th>
                    <th>Inv No</th>
                    <th>Inv Date</th>
                    <th>Inv value</th>
                    <th>ETIN</th>
                    <th>Rate</th>
                    <th>Taxable Amt</th>
                    <th>IGST Amt</th>
                    <th>CGST Amt</th>
                    <th>SGST Amt</th>
                    <th>CESS Amt</th>
                </tr>
            </thead>
        </table>

    </div>

    <br />
    <div class="text-center">
        <button type="submit" name="command" id="btnGSTR1B2CLA" value="GSTR1B2CLA" class="btn btn-primary btn-lg btnstyle" onclick="javascript:return ShowMessage();">Delete</button>
        <button type="submit" name="command" id="btnGSTR1B2CLA_ALL" value="GSTR1B2CLA_ALL" class="btn btn-primary btn-lg btnstyle">Delete ALL</button>
    </div>
    <br />

</div>

<script>
    function validateCheckBoxes() {
        var isValid = false;
        //alert("Check if any checkbox is not checked...");
        var allRows = document.getElementsByTagName("input");
        for (var i = 0; i < allRows.length; i++) {
            if (allRows[i].type == 'checkbox' && allRows[i].name == 'ids') {
                if (allRows[i].checked == true) {
                    return true;
                }

            }
        }
        return isValid;
    }

    function ShowMessage() {
        if (!validateCheckBoxes()) {
            alert("Please select atleast one invoice to delete.");
            return false;
        }
        else {
            return confirm('Are you sure to Delete?');
        }

    }
    $('#btnGSTR1B2CLA_ALL').click(function () {

        return confirm('Are you sure to Delete All?');

    });


</script>



