
@{
    ViewBag.Title = "Index";
}

<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                Download Documents
                <span>

                </span>
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <!-- end col -->

    </div>
    <!-- end row -->
    <!--
                The ID "widget-grid" will start to initialize all widgets below
                You do not need to use widgets if you dont want to. Simply remove
                the <section></section> and you can use wells or panels instead
                -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <div><br /> <span style="color:red;font:xx-small">      * Please note all template is in excel format, please convert into .csv(Comma delimited) before uploading the data.</span> <br /></div>
            <!-- NEW WIDGET START -->

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Documents</h2>
                    </header>
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table class="table table-striped table-bordered table-hover gridtable">
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Document Link</th>
                                    <th>Document Description</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td><a href="~/Documents/GSTR1_CSV_Template.xlsx" style="text-decoration:underline;">GSTR1 Template A</a> </td>
                                    <td>
                                        This template is useful to prepare the data for GSTR1 return (Template A).

                                    </td>
                                </tr>
 				<tr>
                                    <td>2.</td>
                                    <td><a href="~/Documents/GSTR1_CSV_Template A for Amendments.xlsx" style="text-decoration:underline;">GSTR1 Template A with Amendment</a> </td>
                                    <td>
                                        This template is useful to prepare the data for GSTR1 return (Template A with Amendment).

                                    </td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td><a href="~/Documents/GSTR1_CSV_Template-B.xlsx" style="text-decoration:underline;">GSTR1 Template B</a> </td>
                                    <td>
                                        This template is useful to prepare the data for GSTR1 return (Template B).

                                    </td>
                                </tr>
  				<tr>
                                    <td>4.</td>
                                    <td><a href="~/Documents/GSTR1_CSV_Template-B for Amendments.xlsx" style="text-decoration:underline;">GSTR1 Template B with Amendment</a> </td>
                                    <td>
                                        This template is useful to prepare the data for GSTR1 return (Template B with Amendment).

                                    </td>
                                </tr>
                                @*<tr>
           				 <td>5.</td>
           				 <td><a href="~/Documents/GSTR2_CSV_Template.xlsx" style="text-decoration:underline;">GSTR2 Template</a> </td>
         			        <td>
			                This template is useful to prepare the data for GSTR2 return.
				            </td>
	
			        </tr>*@

                                <tr>
                                    <td>5.</td>
                                    <td><a href="~/Documents/GSTR2_ITCRVSL_CSV_Template.xlsx" style="text-decoration:underline;">GSTR2 ITC & ITC Reversal Template</a> </td>
                                    <td>
                                        This template is useful to prepare the data for GSTR2 ITC & ITC Reversal.

                                    </td>

                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td><a href="~/Documents/Customer_Template.xlsx" style="text-decoration:underline;">Customer Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for Customer Master List.

                                    </td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td><a href="~/Documents/Supplier_Template.xlsx" style="text-decoration:underline;">Supplier Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for Supplier Master List.
                                    </td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td><a href="~/Documents/HSN_Template.xlsx" style="text-decoration:underline;">HSN Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for HSN Master List.
                                    </td>
                                </tr>
                                <tr>
                                    <td>9.</td>
                                    <td><a href="~/Documents/Attribute.xlsx" style="text-decoration:underline;">Attributes</a> </td>
                                    <td>
                                        This document is useful to check the all keywords properties.

                                    </td>
                                </tr>

                                <tr>
                                    <td>10.</td>
                                    <td><a href="~/Documents/GSTR3B_Template.xlsx" style="text-decoration:underline;" target="_blank">GSTR3B Template</a> </td>
                                    <td>
                                        This document is useful to guide the process flow.<br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>11.</td>
                                    <td><a href="~/Documents/EWayBill_Generation_Template.xlsx" style="text-decoration:underline;" target="_blank">Generate EWayBill Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for EWayBill Data.
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.</td>
                                    <td><a href="~/Documents/Consolidated_EWayBill_Template.xlsx" style="text-decoration:underline;" target="_blank">Consolidated EWayBill Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for Consolidated EWayBill Data.
                                    </td>
                                </tr>
                                <tr>
                                    <td>13.</td>
                                    <td><a href="~/Documents/EWayBill_Update_VehicleNo_Template.xlsx" style="text-decoration:underline;" target="_blank">EWayBill Update VehicleNo Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for EWayBill Update VehicleNo Data.
                                    </td>
                                </tr>
                                <tr>
                                    <td>14.</td>
                                    <td><a href="~/Documents/GSTR1Tally_Template.xlsx" style="text-decoration:underline;" target="_blank">GSTR1 Tally Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for GSTR1 Tally Template.
                                    </td>
                                </tr>
                                <tr>
                                    <td>15.</td>
                                    <td><a href="~/Documents/Gstr2-Tally template.xlsx" style="text-decoration:underline;" target="_blank">GSTR2 Tally Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for GSTR2 Tally Template.
                                    </td>
                                </tr>
                                <tr>
                                    <td>16.</td>
                                    <td><a href="~/Documents/GSTR1Tally_Template_with_Amendments.xlsx" style="text-decoration:underline;" target="_blank">GSTR1 Tally Template with Amendments</a> </td>
                                    <td>
                                        This document is useful to prepare the data for GSTR1 Tally Template with Amendment.
                                    </td>
                                </tr>
								  <tr>
                                    <td>17.</td>
                                    <td><a href="~/Documents/Gstr6 Template.xlsx" style="text-decoration:underline;" target="_blank">GSTR6 Template</a> </td>
                                    <td>
                                        This document is useful to prepare the data for GSTR6.
                                    </td>
                                </tr>
                                @if (Session["Partner_Company"].ToString() != "Hamara Kendra")
                                {
                                    <tr>
                                        <td>18.</td>
                                        <td><a href="~/Documents/UserManualDocument.pdf" style="text-decoration:underline;" target="_blank">User Document</a> </td>
                                        <td>
                                            This document is useful to guide the process flow.<br />
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
