@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
    WebGrid grid = null;
    var result = new List<dynamic>();
    if (ViewBag.NIL != null)
    {
        //TempData["Data"] = Model;
        foreach (var emprow in ViewBag.NIL)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result.Add(row);
        }
        grid = new WebGrid(source: result, canPage: true, canSort: true);
    }
}


<div class="table table-responsive">

    @if (ViewBag.NIL != null)
    {
        if (Enumerable.Count(ViewBag.NIL) > 0)
        {

            @grid.GetHtml(
                          tableStyle: "table table-striped table-bordered table-hover gridtable",
                           htmlAttributes: new { id = "checkableGrid2nil" },
                          columns:
                          grid.Columns(
                              grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.nilid" /></text>, header: "{checkall}"),
                                         grid.Column("S.No", "S.No"),
                                         grid.Column("Description", "Description"),
                                         grid.Column("Composition Taxable Person", "Composition Taxable Person"),
                                         grid.Column("Exempt Supply", "Exempt Supply"),
                                         grid.Column("Nil_Rated Supply", "Nil Rated Supplies"),
                                         grid.Column("Non GST Supply", "Non-GST Supplies")
                                         )
                                     )
            <br />
            <div class="text-center">
                <button type="submit" name="command" value="GSTR2NIL" class="btn btn-primary btn-lg btnstyle" onclick="javascript:return ShowMessage();">Delete</button>
            </div>
            <br />

        }

        else
        {
            <h3>No Data Found</h3>
        }
    }
</div>



<script type="text/javascript">

    // 1st replace first column header text with checkbox

    $("#checkableGrid2nil th").each(function () {
        if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
            $(this).text('');
            $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
            $(this).append("<span>Select All</span>");
        }
    });

    //2nd click event for header checkbox for select /deselect all
    $("#cbSelectAll").live("click", function () {
        var ischecked = this.checked;
        $('#checkableGrid2nil').find("input:checkbox").each(function () {
            this.checked = ischecked;
        });
    });


    //3rd click event for checkbox of each row
    $("input[name='ids']").click(function () {
        var totalRows = $("#checkableGrid2nil td :checkbox").length;
        var checked = $("#checkableGrid2nil td :checkbox:checked").length;

        if (checked == totalRows) {
            $("#checkableGrid2nil").find("input:checkbox").each(function () {
                this.checked = true;
            });
        }
        else {
            $("#cbSelectAll").removeAttr("checked");
        }
    });


</script>



