


@{
    ViewBag.Title = "WeP ASP PANEL";

    int row = 0;
}

<!DOCTYPE html>
<html>
<head>
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <style type="text/css">
    </style>
</head>
<body>
    <br>
    <div class="container-fluid" style="background-color:white">
        <form action="@Url.Action("EXP", "PDFDownload")" method="POST" id="checkout-form" class="smart-form" novalidate="novalidate">
            <a href="@Url.Action("ExportEXPPdf","PDFDownload")">Download PDF</a>
            @{Html.RenderPartial("_EXPPdf");}
        </form>
    </div>

</body>
</html>




