
    <div class="modal fade" id="myOTPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">GST Authentication</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <input type="text" name="username" class="form-group" placeholder="Enter Username" />
                    <button type="submit" name="GetOTP" value="GSTR 1 Save" class="btn btn-primary" style="border-radius:13px;font-weight:600">
                        Get OTP
                    </button>
                    <br />
                    <input type="text" id="OTP" name="OTP" class="form-group" placeholder="Enter OTP" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" name="OTPSubmit" value="GSTR 1 Save" class="btn btn-primary" style="border-radius:13px;font-weight:600">
                        Submit
                    </button>

                    @*<button type="button" class="btn btn-danger pull-left" id="print">
                            <i class="fa fa-print"></i> Print
                        </button>*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>