<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <p><h1><b>WeP Digital - Privacy Policy</b></h1></p>
                    <p><h3><b>Introduction</b></h3></p>
                    <p><strong>This Privacy Policy reg</strong><strong>ulates the use of the websites namely,&nbsp;</strong><a href="http://www.wepdigital.com"><strong>www.wepdigital.com</strong></a><strong><u>, </u></strong><a href="http://portal.wepdigital.com"><strong>portal.wepdigital.com</strong></a><strong><u>, </u></strong><a href="http://www.wepgst.com"><strong>www.wepgst.com</strong></a><strong><u>, </u></strong><a href="http://www.trp.wepgst.com"><strong>trp.wepgst.com</strong></a> <strong>and any other portals that we may add in future which are individually and collectively</strong><strong>&nbsp;hereinafter referred to as &ldquo;WeP Digital&rdquo;.</strong></p>
                    <p>WeP recognizes the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on WeP Digital and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers and all users, both natural and artificial juridical persons, who access the website to avail of the services in accordance with agreements/contracts with WeP Digital Services Limited or its parent and/or its subsidiary companies. &nbsp;By visiting and/or using our website, you agree to this Privacy Policy.</p>
                    <p>We and our authorized third parties may collect, store or process information and data as required under laws and regulation and also based on your use of our services and our business relationship with you.</p>
                    <p><strong>Information we collect:-</strong></p>
                    <p><strong>Contact information.</strong>&nbsp;We might collect your name, email, mobile number, phone number, street, city, state, pincode, country and ip address.</p>
                    <p><strong>Payment and billing information.</strong>&nbsp;We might collect your billing name, billing address and payment method when you conduct an online transaction on our website. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. Credit card information will be obtained and processed by our online payment partner.</p>
                    <p><strong>Information you post.</strong>&nbsp;We collect information you post in a public space, on our website or on a third-party social media site.</p>
                    <p><strong>Demographic information.</strong>&nbsp;We may collect demographic information about you, events you like, events you intend to participate in, or any other information provided by you during the use of our website. We might collect this as a part of a survey also.</p>
                    <p><strong>Service Information.</strong> We may collect information about the use of our website/s for the purpose of usage anaylsis.</p>
                    <p><strong>Other information.</strong>&nbsp;If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.</p>
                    <p><strong>We collect information in different ways.</strong></p>
                    <p>We collect information directly from you. We collect information directly from you when you do a transaction on our website. We also collect information if you post a comment on our websites or ask us a question through phone or email. We collect information from you passively. We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website.</p>
                    <p><strong>We get information about you from third parties.</strong>&nbsp;For example, if you use an integrated social media feature on our websites. The third-party social media site will give us certain information about you. This could include your name and email address.</p>
                    <p><strong>Sensitive Personal Data or Information. </strong>WeP Digital does not intentionally collect any sensitive personal information via our websites unless legally required to do so. Sensitive Personal Information includes physical, physiological, mental health condition, sexual orientation, medical records, financial information such as bank account or payment information of natural person. WeP Digital works to protect the confidentiality and security of such information it obtains in the course of business. Access to such information is limited and policies and procedures are in place to safeguard the information from loss, misuse and improper disclosure.</p>
                    <p>&nbsp;</p>
                    <p><strong>Use of your personal information</strong></p>
                    <p>We collect and use Personal Information to provide you with the required services or information. The Personal information that we collect from you is held in accordance with applicable laws and regulations in India and will be used by us for a number of lawful purposes connected with our business operations and functions, some of which are enumerated below.</p>
                    <p><strong>We use information to contact you:</strong>&nbsp;We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.</p>
                    <p>.</p>
                    <p><strong>We use information to improve our products and services.</strong>&nbsp;We might use your information to customize your experience with us. This could include displaying content based upon your preferences.</p>
                    <p><strong>We use information to look at site trends and customer interests.</strong>&nbsp;We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties to understand customer behavior.</p>
                    <p><strong>We use information for security purposes.</strong>&nbsp;We may use information to protect our company, our customers, or our websites.</p>
                    <p><strong>We use information for marketing purposes.</strong>&nbsp;We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third-party offers or products we think you might find interesting. Or, for example, if you buy products/services from us we'll enroll you in our newsletter.</p>
                    <p><strong>We use information to send you transactional communications.</strong>&nbsp;We might send you emails or SMS about your account or a product/service purchase.</p>
                    <p>We use information to carry out activities connected with running of our business such as personnel training, quality control, network monitoring and in connection with the transfer of any part of our business in respect of which you are a customer or a potential customer.</p>
                    <p>We use information as otherwise permitted by law.</p>
                    <p><strong>Sharing of information with third-parties</strong></p>
                    <p><strong>We will share information with third parties who perform services on our behalf.</strong>&nbsp;We share information with vendors who help us manage our online registration process or payment processors or transactional message processors. Some vendors may be located outside of India.</p>
                    <p><strong>We will share information with our business partners.</strong>&nbsp;This includes a third party who provide is our service partner, product developers etc. Our partners use the information we give them as described in their privacy policies.</p>
                    <p><strong>We may share information if we think we have to in order to comply with the law or to protect ourselves.</strong>&nbsp;We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.</p>
                    <p><strong>We may share information with any successor to all or part of our business.</strong>&nbsp;For example, if part of our business is sold we may give our customer list as part of that transaction.</p>
                    <p>&nbsp;</p>
                    <p>Except as set out in this privacy policy, we will not disclose any personally identifiable information without your permission unless we are legally entitled or required to do so or unless we believe that such action is necessary to protect and/or defend our rights, property or personal safety and those of our users/customers or other individuals.</p>
                    <p>Information shall be shared, without obtaining prior consent, with Government agencies mandated under the Law to obtain information including Sensitive Personal Data or other information for the purpose of verification of identity, or for prevention, detection, investigation including cyber incidents, prosecution, and punishment of offences.</p>
                    <p>&nbsp;</p>
                    <p>We may share your information for reasons not described in this policy. We will tell you before we do this.</p>
                    <p><strong>Email Opt-Out</strong></p>
                    <p><strong>You can opt out of receiving our marketing emails.</strong>&nbsp;To stop receiving our promotional emails, please email unsubscribe@wepdigital.com. It may take about ten days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases.</p>
                    <p><strong>Third party sites</strong></p>
                    <p>If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.</p>
                    <p><strong>Grievance Officer</strong></p>
                    <p>In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:</p>
                    <p>Mr Sanjeev Arora,</p>
                    <p>CEO</p>
                    <p>WeP Digital Services Limited</p>
                    <p>40/1A, Basappa Complex,</p>
                    <p>Lavelle Road, Bangalore - 560001</p>
                    <p>Email: <a href="mailto:sanjeev.arora@wepsol.in">sanjeev.arora@wepsol.in</a> If you have any questions about this Policy or other privacy concerns, you can also email us at&nbsp;<a href="https://www.wepgst.com/account/customerregistration">info@wepdigital.com</a></p>
                    <p><strong>Updates to this policy</strong></p>
                    <p>This Privacy Policy is subject to periodical updates and we reserve the right to update.. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for updates.</p>
                    <p><strong>Inaccurate Personal Information</strong></p>
                    <p>WeP Digital shall not be responsible for the accuracy of personal information supplied to us by a website user. It is the website user&rsquo;s duty to ensure that the information provided by it or its employees are accurate.</p>
                    <p>If you believe that any information pertaining to you is incorrect or incomplete, you can write to us at <a href="mailto:info@wepdigital.com">info@wepdigital.com</a> and appropriate remedial action would be taken.</p>
                    <p><strong>Jurisdiction</strong></p>
                    <p>If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India and exclusively by the Courts in the city of Bangalore.</p>
                    <p>&nbsp;</p>
                    <p><strong>LEGAL POLICY</strong></p>
                    <p>This website belongs to WeP Digital Services Limited (hereinafter referred to as &ldquo;WeP Digital&rdquo;) and provides general information about the Company. By accessing this site, you agree to the terms and conditions as outlined in this Legal Policy. WeP Digital makes available information and materials on this website, subject to the following terms and conditions:</p>
                    <p><strong>Warranty</strong></p>
                    <p>The contents of this website were prepared with the greatest possible diligence. However, WeP Digital does not guarantee or endorse the content, accuracy or completeness of the information, text, graphics, hyperlinks, products and other items contained herein or on any other server.</p>
                    <p>This site and the materials, information, and references to services and products if any herein, are provided "as is" without representations or warranties of any kind, whether express or implied. WeP Digital can incur no liability for actions and decisions made on the basis of this information or these products.</p>
                    <p>WeP Digital does not represent or warrant that the functions contained in the site will be uninterrupted or error free; that defects will be corrected; or that the site or server that makes the site available is free of viruses or other harmful components. WeP Digital does not make any warranties or representations regarding the use of the materials in the site in terms of their completeness, correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise.&nbsp;</p>
                    <p><strong>&nbsp;</strong></p>                    
                    <p><strong>Limitation of Liability</strong></p>
                    <p>In no event shall WeP Digital be liable to you or any third party for any incidental, consequential, indirect, special, or exemplary damages, including, without limitation, loss of business, loss of profits, business interruption, loss of business information or any pecuniary loss, arising out of, in connection with, or relating to the use or performance of the information referenced by or linked to this website.</p>
                    <p><strong>Intellectual Property Rights</strong></p>
                    <p>Unless otherwise indicated, this Website and its contents are the property of WeP Digital. The copyright in the material contained on this Website belongs to WeP Digital or its licensors. The trademarks appearing on this Website are protected by the laws of India. All the industrial property rights on products (patents, trademarks, copyrights, design rights, know-how and processes), which are used, made accessible or represented as WeP Digital Property, shall remain the exclusive property of WeP Digital. Except as specifically permitted herein, the same may not be used without the prior written permission from WeP Digital.</p>
                    <p><strong>Use of Website Information</strong></p>
                    <p>You may view, copy, print, download and distribute the Information available on this website subject to the following conditions:</p>
                    <ul>
                        <li> The Information may be used solely for personal, informational, or internal business purposes;</li>
                        <li> The information may not be modified or altered in any way;</li>
                        <li> WeP Digital reserves the right to revoke such authorization at any time, and any such use shall be discontinued immediately upon written notice from WeP Digital;</li>
                        <li> You agree not to transfer the information to any other person unless you give them notice of, and they agree to accept, the obligations arising under these terms and conditions of use; and</li>
                        <li> You agree to abide by all additional restrictions displayed on this website as it may be updated from time to time</li>
                    </ul>
                    <p><strong>Duties of the User</strong></p>
                    <p>You are authorized to make use of the information for any lawful purpose. The following is a non-exclusive list of uses which are expressly prohibited.&nbsp;</p>
                    <ul>
                        <li> Using the website to commit or encourage unlawful acts;</li>
                        <li> Misrepresenting the user's identity or authority;</li>
                        <li> Distributing any type of virus or other device intended to cause nuisance, loss or corruption of any information on the website or of any system accessed through it or of any system used to operate the website;</li>
                        <li> Tampering with communications which are not the user's, or making any alteration to any information on the website;</li>
                        <li> Accessing or attempting to access other party&rsquo;s user account;</li>
                        <li> Hacking or attempting to hack any part of the website, or any system used to run it, or any system accessed through the website;</li>
                        <li> Disrupting the flow of communications in interactive areas; or</li>
                        <li> Posting material which: infringes an Intellectual Property Right, defames or threatens other people or organizations, is offensive, obscene or hateful etc.</li>
                    </ul>
                    <p><strong>Links To Third Party Websites</strong></p>
                    <p>The WeP Digital website may contain links to third party websites, which are not under the control of WeP Digital. WeP Digital has no responsibility or liability for and makes no representations whatsoever about any other website that you may have access to through the WeP Digital website. These linked sites are only for your convenience, and therefore, you access them at your own risk. The inclusion of such links does not imply that WeP Digital endorses or accepts any responsibility for the content or uses of such websites.</p>
                    <p><strong>Modifications</strong></p>
                    <p>This Site is subject to periodic update and revision. WeP Digital reserves the right to delete or modify information on this Site without prior notice.</p>
                    <p><strong>Indemnification</strong></p>
                    <p>User agrees to fully indemnify WeP Digital and its parent, subsidiaries, affiliates, directors, agents and employees from any claims, civil or criminal, arising against WeP Digital, from any posting attributed to user identity and arising out of breach of policies or documents they incorporates by reference, or violation of any law, rules or regulation.</p>
                    <p>WeP Digital cannot accept responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft, destruction, alteration of, or unauthorized access to entries, or entries lost or delayed whether or not arising during operation or transmission as a result of server functions, virus, worms or other causes outside its control.</p>
                    <p><strong>Governing Law</strong></p>
                    <p>The foregoing are subject to the laws of India and the courts at Bangalore, India shall have the exclusive jurisdiction on any dispute that may arise out of the use of this site.</p>
                    <p><strong>DISCLAIMER</strong></p>
                    <p>Usage of this website shall be construed and deemed as an acceptance of all our terms and conditions and policies. It is also understood that acceptance of the Disclaimer will amount to a waiver by you in respect of any claims that you may have against WeP Digital arising from the content posted herein, your usage of this Website or interaction with any other User/ Member, back end team member, room editor and mentor associated with this Website. The terms of Disclaimer can be amended from time to time&nbsp; at our sole discretion by posting revise terms and conditions at anywhere in this website pertaining to policies.&nbsp; It is your responsibility to be aware of any such revised terms by checking the website. Your continued use of this website following changes to terms and conditions and policies constitutes your agreement to the revised content of policies.</p>
                    <p>&nbsp;</p>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" id="i-agree">
                        <i class="fa fa-check"></i> I Agree
                    </button>

                    @*<button type="button" class="btn btn-danger pull-left" id="print">
                        <i class="fa fa-print"></i> Print
                    </button>*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>