<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    @*<h1 class="txt-color-red login-header-big">WeP ASP Panel</h1>*@

    <div class="hero">

        <img src="~/Content/images/loginscreen.png" style="border-radius:15px;" class="img-responsive img-rounded"/>
       
        <div class="pull-left login-desc-box-l">
            
        </div>        
    </div>    

</div>