
@{
    ViewBag.Title = "WeP ASP PANEL";
}

<div id="content">
    
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="font-weight:bold">Change Password </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form action="@Url.Action("ChangePassword", "Account")" method="POST" id="smart-form-register" class="smart-form" >


                                <fieldset>
                                    <span style="color:green;font-weight:bold;font-size:18px;">@TempData["Msg"]</span>
                                    <section>
                                        <label class="input">
                                            <input type="password" name="oldp" placeholder="Old Password" id="oldp">
                                        </label>
                                    </section>



                                    <section>
                                        <label class="input">
                                            <input type="password" name="newp" placeholder="New Password" id="newp">
                                            

                                            

                                        </label>

                                    </section>

                                    <section>
                                        <label class="input">
                                            <input type="password" name="cnewp" placeholder="Confirm New Password" id="cnewp">
                                        </label>

                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="submit" class="btn btn-primary text-center " style="background-color:#71843f;border-radius:10px;font-weight:bold">
                                        Change Password
                                    </button>


                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>


            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>


</div>

@section pagespecific {
    <script type="text/javascript">

        function passwordChanged() {
            var strength = document.getElementById('strength');
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\W).*$", "g");
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
            var enoughRegex = new RegExp("(?=.{6,}).*", "g");
            var pwd = document.getElementById("password");
            if (pwd.value.length==0) {
                strength.innerHTML = 'Type Password';
            } else if (false == enoughRegex.test(pwd.value)) {
                strength.innerHTML = 'More Characters';
            } else if (strongRegex.test(pwd.value)) {
                strength.innerHTML = '<span style="color:green">Strong!</span>';
                } else if (mediumRegex.test(pwd.value)) {
                strength.innerHTML = '<span style="color:orange">Medium!</span>';
                } else {
                strength.innerHTML = '<span style="color:red">Weak!</span>';
                }
                }

    // DO NOT REMOVE : GLOBAL Common.Functions!

    $(document).ready(function () {


        var $registerForm = $("#smart-form-register").validate({

            // Rules for form validation
            rules: {

                oldp: {
                    required: true

                },
                newp: {
                    required: true,
                    minlength: 5,
                    maxlength: 20,
                    
                },
                cnewp: {
                    required: true,
                    minlength: 5,
                    maxlength: 20,
                    equalTo: '#newp'
                }
            },

            // Messages for form validation
            messages: {
                oldp: {
                    required: 'Please enter your Old Password'
                },

                newp: {
                    required: 'Please enter your New Password'
                },
                cnewp: {
                    required: 'Please enter your New Password one more time',
                    equalTo: 'Please enter the same password as above New Password'
                },

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    })

    function checkForm() {


        if (form.newp.value != "" && form.newp.value == form.cnewp.value) {
            if (form.pwd1.value.length < 6) {
                alert("Error: Password must contain at least six characters!");
                form.pwd1.focus();
                return false;
            }

            re = /[0-9]/;
            if (!re.test(form.newp.value)) {
                alert("Error: password must contain at least one number (0-9)!");
                form.pwd1.focus();
                return false;
            }
            re = /[a-z]/;
            if (!re.test(form.newp.value)) {
                alert("Error: password must contain at least one lowercase letter (a-z)!");
                form.pwd1.focus();
                return false;
            }
            re = /[A-Z]/;
            if (!re.test(form.newp.value)) {
                alert("Error: password must contain at least one uppercase letter (A-Z)!");
                form.pwd1.focus();
                return false;
            }
        } else {
            alert("Error: Please check that you've entered and confirmed your password!");
            form.pwd1.focus();
            return false;
        }


        return true;
    }
    </script>
}