
               
                <div class="smart-form">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="3">S.No.</th>
                                    <th colspan="3">Invoice</th>
                                    <th colspan="2">IGST</th>
                                    <th colspan="2">CGST</th>
                                    <th colspan="2">SGST</th>
                                    <th colspan="2">CESS</th>
                                    <th rowspan="3">Eligibility of ITC.</th>
                                    <th rowspan="3">Action</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">HSN/SAC</th>
                                    <th rowspan="2">Category</th>
                                    <th rowspan="2">Taxable Value</th>
                                    <th rowspan="2">Rate(%)</th>
                                    <th rowspan="2">Amount</th>
                                    <th rowspan="2">Rate(%)</th>
                                    <th rowspan="2">Amount</th>
                                    <th rowspan="2">Rate(%)</th>
                                    <th rowspan="2">Amount</th>
                                    <th rowspan="2">Rate(%)</th>
                                    <th rowspan="2">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="HSN" >
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control input-sm" name="category">
                                          
                                            <option value="G">Goods</option>
                                            <option value="S">Services</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="taxablevalue" id="taxablevalue"  onblur="totalcalculation();">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="irate" id="irate"  onblur="igstcalculation();">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="iamount" id="iamount" readonly>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="crate" id="crate" onblur="cgstcalculation();">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="camount"  id="camount" readonly>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="srate" id="srate" onblur="sgstcalculation();">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="samount" id="samount" readonly>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="csrate" id="csrate" onblur="cesscalculation();">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="csamount" id="csamount" readonly>
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control input-sm" name="eligibility">
                                          
                                            <option value="ip">ip</option>
                                            <option value="cp">cp</option>
                                            <option value="no">no</option>
                                        </select>
                                    </td>

                                    <td>
                                        <button type="Submit" id="btnSubmit" name="command" class="btn btn-sm btn-success" style="font-weight:bold;Border-radius:10px;width:60px;margin-bottom:3px;padding:3px" value="add" >Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 

@section pagespecific{
    <script type="text/javascript">
        //$(document).ready(function(){
        //$('#btnSubmit').click(function (event) {
        //    $('#item-form').submit();
        //});
   </script>
    }

