
<br />
<div class="smart-form">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>HSN<span style="color:red">*</span></th>

                    <th>Item Description<span style="color:red">*</span></th>
                    <th>Qty<span style="color:red">*</span></th>
                    <th>UQC<span style="color:red">*</span></th>
                    <th>Unit Price<span style="color:red">*</span></th>
                    <th>Disc(%)</th>
                    <th>Taxable Value<span style="color:red">*</span></th>
                    <th>Rate(%)<span style="color:red">*</span></th>
                    <th>IGST Amount</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <label class="input" style="width:100px">
                          
                            <input type="text" name="hsn" id="hsn" onblur="taxableCalculation();">
                        </label>
                    </td>
                   
                    <td>
                        <label class="input" style="width:100px">
                            <input type="text" name="itemdesc" id="itemdesc" style="width:100px" maxlength="30">
                        </label>
                    </td>
                    <td>
                        <label class="input" style="width:100px">
                            <input type="text" name="qty" id="qty" onblur="taxableCalculation();" onkeypress="return decimalInput(event)" class="floatinput">
                        </label>
                    </td>
                    <td>
                        <label class="input" style="width:100px">
                            @Html.DropDownList("uqc", new SelectList(ViewBag.UQCList, "uqc", "uqcdesc"), "Select", new { @Class = "form-control input-sm", @id = "uqc" })
                        </label>
                    </td>
                    <td>
                        <label class="input" style="width:100px">
                            <input type="text" name="unitprice" id="unitprice" onblur="taxableCalculation();" onkeypress="return decimalInput(event)" class="floatinput">
                        </label>
                    </td>
                    <td>
                        <label class="input">
                            @if (Session["discountreqexp"] == null || Session["discountreqexp"].ToString() == "No")
                            {
                                <input type="text" name="discount" id="discount" onblur="taxableCalculation();" value="0" readonly style="background-color:#d9d9d9;width:100px;" class="floatinput">
                            }
                            else if (Session["discountreqexp"].ToString() == "Yes")
                            {
                                <input type="text" name="discount" id="discount" style="width:100px" onblur="taxableCalculation();" value="0" class="floatinput">
                            }

                        </label>
                    </td>
                    <td>
                        <label class="input" style="width:100px">
                            <input type="text" name="taxablevalue" id="taxablevalue" readonly style="background-color:#d9d9d9;width:100px" class="floatinput">
                        </label>
                    </td>
                    <td>
                        <label class="input">
                            <input type="text" name="rate" id="rate" readonly style="background-color:#d9d9d9;width:100px" class="floatinput">
                          
                        </label>
                    </td>
                    <td>
                        <label class="input">
                            <input type="text" name="iamt" value="0" id="iamt" style="width:100px;background-color:#d9d9d9;" readonly class="floatinput">
                        </label>
                    </td>

                   

                </tr>
                <tr>
                    <td colspan="13" align="center">
                        <button type="Submit" id="btnSubmit" name="command" class="btn btn-sm btn-success" style="font-weight:bold;Border-radius:10px;width:60px;margin-bottom:3px;padding:3px" value="add">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />

<script type="text/javascript">

    $('.floatinput').on('keypress', function (e) {
        return validateFloatKeyPress(this, e);

    });
    function decimalInput(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>