<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="config:EnableTiles" value="1" />
    <add key="config:EnableLoader" value="1" />
    <add key="config:Project" value="WeP GST PANEL" />
    <add key="config:Company" value="WeP Solutions Limited" />
    <add key="config:CurrentTheme" value="smart-style-4" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="CookieTimeOut" value="60.0" />

    <add key="ConnectionString" value="Server=13.71.118.152;Initial Catalog=WePGSPDB_Devops_Dev;Persist Security Info=False; User ID=sa; Password=wep@123; Connection Timeout=0" />
    <!--<add key="ConnectionString" value="Server=tcp:wepasp.database.windows.net,1433;Initial Catalog=WePASPDB;Persist Security Info=False; User ID=wepaspdb; Password=Wepdbasp@123; Connection Timeout=0" />-->

    <add key="AADHAAR_OTP_URL" value="http://103.230.84.67/ASPAadhaarAPI/API/AuthByOTP" />
    <add key="AADHAAR_OTP_USERID" value="99LERpMapIwLt2SkMirvjA==" />
    <add key="AADHAAR_OTP_DEVICEID" value="00:1B:21:10:A9:EA" />

    <!-- Production -->
    <!--<add key="GST_Certificate" value="Certificates\GSTN_G2B_Prod_Public.cer" />
    <add key="EWB_Certificate" value="Certificates\certificate_publickey.pem" />
    <add key="GSP_AUTHENTICATE" value="https://api.wepgst.com/gsp/taxpayerapi/v1.0/authenticate" />
    <add key="GSP_GSTR1" value="https://api.wepgst.com/gsp/taxpayerapi/v1.1/returns/gstr1" />
    <add key="GSP_GSTR2A" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GSP_GSTR2" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GSP_GSTR1A" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr1a" />
    <add key="GSP_GSTR3" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr3" />
    <add key="GSP_GSTR3B" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr3b" />
    <add key="GSP_GSTR3B_GetLiabilityLedger" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/ledgers?action=TAX" />
    <add key="GSP_GSTR3B_GetITCLedger" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/ledgers?action=ITC" />
    <add key="GSP_GSTR3B_GetCashITCBalance" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/ledgers?action=BAL" />
    <add key="GSP_GSTR4" value="https://api.wepgst.com/gsp/taxpayerapi/v1.1/returns/gstr4" />
    <add key="GSP_GSTR4A" value="https://api.wepgst.com/gsp/taxpayerapi/v1.1/returns/gstr4a" />
    <add key="GSP_GSTR6" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr6" />
    <add key="GSP_GSTR6A" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns/gstr6a" />
    <add key="GSP_GSTR7" value="https://api.wepgst.com/gsp/taxpayerapi/v1.1/returns/gstr7" />
    <add key="GSP_GSTR_COMMON" value="https://api.wepgst.com/gsp/taxpayerapi/v0.3/returns" />
    <add key="GSP_PUBLICAPI" value="https://gsp.wepgst.com/api/gsp/CommonApi/Search" />
    <add key="GSP_LARGEFILEDOWNLOAD" value="https://gsp.wepgst.com/downloadlargefile" />

    <add key="GSP_ClientId" value="l7xx38a8985664744177af62e0f76bed5191" />
    <add key="GSP_StateCode" value="33" />
    <add key="GSP_Txn" value="returns" />
    <add key="GSP_ClientSecret" value="6b00e53b383e408f85dc0940845b4e1c" />
    <add key="GSP_IpUsr" value="104.211.191.188" />

    <add key="EWB_USER_ID" value="00AEGPG1699M000" />
    <add key="EWB_AUTHENTICATE" value="https://api.wepgst.com/ewayapi/Authenticate" />
    <add key="EWB_GENERATION" value="https://api.wepgst.com/ewayapi/EWayBill" />
    <add key="EWB_GETEWAYBILL" value="https://api.wepgst.com/ewayapi/GetEWayBill" />
    <add key="EWB_GETEWAYBILL_TRANSPORTER" value="https://api.wepgst.com/ewayapi/GetEWayBillForTransporter" />
    <add key="EWB_GETEWAYBILL_TRANSPORTER_GSTIN" value="https://api.wepgst.com/ewayapi/GetEWayBillForTransporterByGstin" />
    <add key="EWB_GETEWAYBILL_OTHERPARTY" value="https://api.wepgst.com/ewayapi/GetEWayBillsofOtherParty" />
    <add key="EWB_GETEWAYBILL_CONSOLIDATED" value="https://api.wepgst.com/ewayapi/GetTripSheet" />
    <add key="EWB_GET_ERRORLIST" value="https://api.wepgst.com/ewayapi/GetErrorList" />



    -->
    <!--<add key="GSP_ClientId" value="IRIS21eb3955b13e04ec6b446d57fe81164e" />
    <add key="GSP_StateCode" value="33" />
    <add key="GSP_Txn" value="returns" />
    <add key="GSP_ClientSecret" value="5856f1c87c873d4b62ebb7198183d708" />
    <add key="GSP_IpUsr" value="104.211.191.188" />-->
    <!--


    <add key="Azure_SubscriptionKey_EWB" value="a974d2da8c704528aa3abd921ca7c0d7" />
    <add key="Azure_SubscriptionKey" value="3fccb4378eec4c6b891b953d593bf439" />
    <add key="Azure_ClientId" value="e03001c6-59b7-4bbb-919a-778108e643b9" />
    <add key="Azure_ClientSecret" value="nOViR/b/Q7L/iwQkzWIDG19DzcqbaiC82yNVFF3J9qc=" />
    <add key="Azure_Resource" value="https://perumalbwepindia.onmicrosoft.com/6cf77a56-3475-4d92-83c7-1d957c98e3e7" />

    <add key="WALLET_DEDUCT_API" value="https://portal.wepdigital.com/Api/DeductWallet" />
    <add key="Need_Help_API" value="http://services.wepworld.com:8080/OracleInterface/api/support" />-->


    <!-- SandBox -->
    <add key="GST_Certificate" value="Certificates\GSTN_G2A_SANDBOX_UAT_public.cer" />
    <add key="EWB_Certificate" value="Certificates\certificate_publickey.pem" />
    <add key="GSP_AUTHENTICATE" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v1.0/authenticate" />
    <add key="GSP_GSTR1" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v1.1/returns/gstr1" />
    <add key="GSP_GSTR2A" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GSP_GSTR2" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GSP_GSTR1A" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr1a" />
    <add key="GSP_GSTR3" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr3" />
    <add key="GSP_GSTR3B" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr3b" />
    <add key="GSP_GSTR3B_GetLiabilityLedger" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/ledgers?action=TAX" />
    <add key="GSP_GSTR3B_GetITCLedger" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/ledgers?action=ITC" />
    <add key="GSP_GSTR3B_GetCashITCBalance" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/ledgers?action=BAL" />
    <add key="GSP_GSTR4" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v1.1/returns/gstr4" />
    <add key="GSP_GSTR4A" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v1.1/returns/gstr4a" />
    <add key="GSP_GSTR6" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr6" />
    <add key="GSP_GSTR6A" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns/gstr6a" />
    <add key="GSP_GSTR9" value=" https://api.wepgst.com/sa/gsp/taxpayerapi/v1.1/returns/gstr9" />

    <add key="GSP_GSTR7" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v1.1/returns/gstr7" />
    <add key="GSP_GSTR_COMMON" value="https://api.wepgst.com/sa/gsp/taxpayerapi/v0.3/returns" />
    <add key="GSP_PUBLICAPI" value="https://api.wepgst.com/gsp/commonapi/v1.0/search" />
    <add key="GSP_LARGEFILEDOWNLOAD" value="http://sandbox.wepgst.com/downloadlargefile" />

    <add key="GSP_ClientId" value="l7xxf1dd5228b4bc4ec28201638d1717a4ae" />
    <add key="GSP_StateCode" value="33" />
    <add key="GSP_Txn" value="returns" />
    <add key="GSP_ClientSecret" value="5f9d98d0e05f4f30b5545f8614004979" />
    <add key="GSP_IpUsr" value="13.71.118.152" />

    <add key="EWB_USER_ID" value="00AEGPG1699M000" />
    <add key="EWB_AUTHENTICATE" value="http://ewb.wepgst.com/api/Authenticate" />
    <add key="EWB_GENERATION" value="http://ewb.wepgst.com/api/EWayBill" />
    <add key="EWB_GETEWAYBILL" value="http://ewb.wepgst.com/api/EWayBill/GetEWayBill" />
    <add key="EWB_GETEWAYBILL_TRANSPORTER" value="http://ewb.wepgst.com/api/EWayBill/GetEWayBillForTransporter" />
    <add key="EWB_GETEWAYBILL_TRANSPORTER_GSTIN" value="http://ewb.wepgst.com/api/EWayBill/GetEWayBillForTransporterByGstin" />
    <add key="EWB_GETEWAYBILL_OTHERPARTY" value="http://ewb.wepgst.com/api/EWayBill/GetEWayBillsofOtherParty" />
    <add key="EWB_GETEWAYBILL_CONSOLIDATED" value="http://ewb.wepgst.com/api/EWayBill/GetTripSheet" />
    <add key="EWB_GET_ERRORLIST" value="http://ewb.wepgst.com/api/EWayBill/GetErrorList" />

    <add key="Azure_SubscriptionKey_EWB" value="9623af31d0134f1ca3daa6216ae814b2" />
    <add key="Azure_SubscriptionKey_TP" value="3fccb4378eec4c6b891b953d593bf439" />
    <add key="Azure_SubscriptionKey" value="114e28efe3334395a5ee5b454e8221d2" />
    <add key="Azure_ClientId" value="e03001c6-59b7-4bbb-919a-778108e643b9" />
    <add key="Azure_ClientSecret" value="nOViR/b/Q7L/iwQkzWIDG19DzcqbaiC82yNVFF3J9qc=" />
    <add key="Azure_Resource" value="https://perumalbwepindia.onmicrosoft.com/6cf77a56-3475-4d92-83c7-1d957c98e3e7" />

    <add key="WALLET_DEDUCT_API" value="https://preportal.wepdigital.com/Api/DeductWallet" />
    <add key="Need_Help_API" value="http://services.wepworld.com:8080/OracleInterfaceTest/api/support" />

    <!-- Pre Production URLs-->
    <!--<add key="DIA_DASHBOARD_URL" value="http://139.162.1.39:8082/api/mcontent/dashboard?spaceId=32" />
    <add key="DIA_CONTENT_DETAILS" value="http://139.162.1.39:8082/api/mcontent/" />
    <add key="DIA_CONTENT_INFO" value="http://139.162.1.39:8082/api/mcontent/info/" />
    <add key="DIA_CONTENT_AUTH_TEAM_DETAILS" value="http://139.162.1.39:8082/api/mcontent/team/" />
    <add key="DIA_RELATED_CONTENT" value="http://139.162.1.39:8082/api/mrelatedcontent/content/" />
    <add key="DIA_SEARCH_CONTENT" value="http://139.162.1.39:8082/api/msearch/content" />
    <add key="DIA_GET_AUTHOR_IMAGE" value="http://139.162.1.39:8082/api/muser/" />-->

    <!-- Production URLs-->
    <!-- <add key="DIA_DASHBOARD_URL" value="https://withdia.com/api/mcontent/dashboard?spaceId=32" />
    <add key="DIA_CONTENT_DETAILS" value="https://withdia.com/api/mcontent/" />
    <add key="DIA_CONTENT_INFO" value="https://withdia.com/api/mcontent/info/" />
    <add key="DIA_CONTENT_AUTH_TEAM_DETAILS" value="https://withdia.com/api/mcontent/team/" />
    <add key="DIA_RELATED_CONTENT" value="https://withdia.com/api/mrelatedcontent/content/" />
    <add key="DIA_SEARCH_CONTENT" value="https://withdia.com/api/msearch/content" />
    <add key="DIA_GET_AUTHOR_IMAGE" value="https://withdia.com/api/muser/" />-->

    <add key="DIA_USER" value="wepsolutions" />
    <add key="DIA_PWD" value="Wep$0lution" />

    <!-- Batch Processing -->
    <add key="GSTR1_BATCH" value="6000" />

    <!-- SMS Settings-->
    <add key="SMS_Settings_New" value="true" />
    <add key="SMSNew_UserId" value="wepsalt" />
    <add key="SMSNew_Password" value="wepsalt16" />
    <add key="SMSNew_AppId" value="wepsalt" />

    <add key="SMSOld_UserId" value="WePCare" />
    <add key="SMSOld_Password" value="f7dc8b" />
    <add key="SMSOld_AppId" value="WePCare" />

    <!-- URL LINKAGES -->
    <add key="Bundle_content_smartadmin" value="~/content/smartadmin" />
    <add key="Bundle_content_css" value="~/content/css" />
    <add key="Bundle_scripts_smartadmin" value="~/scripts/smartadmin" />
    <add key="Bundle_scripts_full_calendar" value="~/scripts/full-calendar" />
    <add key="Bundle_scripts_charts" value="~/scripts/charts" />
    <add key="Bundle_scripts_datatables" value="~/scripts/datatables" />
    <add key="Bundle_scripts_jq_grid" value="~/scripts/jq-grid" />
    <add key="Bundle_scripts_forms" value="~/scripts/forms" />
    <add key="Bundle_scripts_smart_chat" value="~/scripts/smart-chat" />
    <add key="Bundle_scripts_vector_map" value="~/scripts/vector-map" />

    <add key="U_AppData_ReturnFiling" value="~/App_Data/ReturnFiling" />

    <add key="D_AppData_TAR_GSTR1" value="~\\App_Data\\TAR\\GSTR1\\" />
    <add key="D_AppData_UNZIP_GSTR1" value="~\\App_Data\\Unzip\\GSTR1\\" />
    <add key="D_AppData_TAR_GSTR2A" value="~\\App_Data\\TAR\\GSTR2A\\" />
    <add key="D_AppData_UNZIP_GSTR2A" value="~\\App_Data\\Unzip\\GSTR2A\\" />
    <add key="D_AppData_TAR_GSTR2" value="~\\App_Data\\TAR\\GSTR2\\" />
    <add key="D_AppData_UNZIP_GSTR2" value="~\\App_Data\\Unzip\\GSTR2\\" />
    <add key="D_AppData_TAR_GSTR6A" value="~\\App_Data\\TAR\\GSTR6A\\" />
    <add key="D_AppData_UNZIP_GSTR6A" value="~\\App_Data\\Unzip\\GSTR6A\\" />
    <add key="D_AppData_TAR_GSTR6" value="~\\App_Data\\TAR\\GSTR6\\" />
    <add key="D_AppData_UNZIP_GSTR6" value="~\\App_Data\\Unzip\\GSTR6\\" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <connectionStrings>
    <add name="WePGSPDBEntities" connectionString="metadata=res://*/Models.GSPDBModel.csdl|res://*/Models.GSPDBModel.ssdl|res://*/Models.GSPDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.71.118.152;initial catalog=WePGSPDB_Devops_Dev;user id=sa;password=wep@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="WePGSPDBEntities" connectionString="metadata=res://*/Models.GSPDBModel.csdl|res://*/Models.GSPDBModel.ssdl|res://*/Models.GSPDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wepasp.database.windows.net;initial catalog=WePASPDB;user id=wepaspdb;password=Wepdbasp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="60"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="3000">
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" defaultRedirect="~/Misc/Error404">
      <error statusCode="403" redirect="~/Misc/Error500" />
      <error statusCode="404" redirect="~/Misc/Error500" />
    </customErrors>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".xslx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>


    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="localhost(:\d+)?" negate="true" />
            <add input="{HTTP_HOST}" pattern="127\.0\.0\.1(:\d+)?" negate="true" />
            <add input="{HTTPS}" pattern="OFF" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.11.0" newVersion="5.5.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.WebServices" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog>
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <targets>
      <target type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
</configuration>