@model SmartAdminMvc.Models.TBL_Cust_GSTIN
<fieldset>
    <legend style="font-weight:600;font-size:15px;">Add New GSTIN Number</legend>
    
    <div class="form-group" style="margin-top:-15px;">
        <p style="font-weight:600;font-size:13px;">Select GSTIN Number</p>
        <div class="col-md-5">


            @Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, "Select GSTIN Number", new { selected = true, @style = "padding:3px" })
            <br /><br />
            <footer>
                <button type="submit" class="btn btn-primary pull-left" name="command" value="add" onclick='ShowMessage()'>
                    Add User
                </button>
            </footer>
        </div>
        <br /><br />
    </div>

</fieldset>