
@model SmartAdminMvc.Models.TBL_Cust_GSTIN


<section class="col col-4">

    <label style="font-weight:600; font-size:15px;"> Select GSTIN </label>
    <i style="color:red;"> &nbsp;*</i>
    <label class="input">
        @Html.DropDownList("CategoryId", (MultiSelectList)ViewBag.Categories, new { multiple = "multiple", @Class = "form-control", selected = true, @style = "width:300px" })


    </label>
</section>






