			<!-- MAIN CONTENT -->
<div id="content">



    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="font-weight:bold">User Registration</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form action="@Url.Action("AddUser", "User")" method="POST" id="checkout-form" class="smart-form" novalidate="novalidate">

                                <fieldset>
                                    <div class="row">
                                       
                                        <section class="col col-4 ">

                                            <label class="input">
                                                <i class="icon-append fa fa-user" style="color:red;"> *</i>
                                                <input type="text" id="name" name="name" placeholder="Name of the person" />
                                            </label>
                                        </section>
                                        @*<section class="col col-4 ">

                                            <label class="input">
                                                <i class="icon-append fa fa-user" style="color:red;"> *</i>
                                                <input type="text" id="username" name="username" placeholder="User Name" />
                                            </label>
                                        </section>*@
                                        <section class="col col-4">

                                            <label class="input">
                                                <i class="icon-append fa fa-briefcase" style="color:red;">*</i>
                                                <input type="text" id="designation" name="designation" placeholder="Designation">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope" style="color:red;">*</i>
                                                <input type="email" id="email" name="email" placeholder="Email">
                                            </label>
                                        </section>
                                       </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="input">
                                                <i class="icon-append fa fa-user" style="color:red;">*</i>
                                                <input type="password" id="Password" name="Password" placeholder="Password">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="input">
                                                <i class="icon-append fa fa-phone" style="color:red;">*</i>
                                                <input type="text" id="phone" maxlength="10" name="phone" placeholder="Mobile Number">
                                            </label>
                                        </section>

                                        @{Html.RenderPartial("_Roles");}
                                        </div>
                                        <div class="row">
                                            @{Html.RenderPartial("_Singlegstin");}
                                        </div>

                                </fieldset>


                                <footer>
                                    <button type="submit" class="btn btn-primary" style="text-align:center;font-weight:bold;background-color:#496949;border-radius:5px;border:2px solid #496949;">
                                        Register
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->
            <!-- NEW COL START -->
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->


</div>
<!-- END MAIN CONTENT -->



@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
    </script>
}

@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        var $checkoutForm = $('#checkout-form').validate({
            // Rules for form validation
            rules: {
                name: {
                    required: true
                },
                designation: {
                    required: true
                },
                username: {
                    required: true

                },
                Password: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                    
                },
                Role_Name: {
                    required: true

                },
                CategoryId: {
                    required: true
                },
                name: {
                    required: true
                },
                card: {
                    required: true,
                    creditcard: true
                },
                cvv: {
                    required: true,
                    digits: true
                },
                month: {
                    required: true
                },
                year: {
                    required: true,
                    digits: true
                }
            },

            // Messages for form validation
            messages: {
                name: {
                    required: 'Please User Name'
                },
                designation: {
                    required: 'Please enter User Designation'
                },
                username: {
                    required: 'Please enter Username'

                },
                Password: {
                    required: 'Please enter Password'
                },
                email: {
                    required: 'Please Enter User Email',
                    email: 'Please enter a VALID email address'
                },

                phone: {
                    required: 'Please enter User phone Number ',
                    digits: 'Digits only please'
                },
                Role_Name: {
                    required: 'Please select Role'
                },
                CategoryId: {
                    required: 'Please select GSTIN Number'
                },
                card: {
                    required: 'Please enter your card number'
                },
                cvv: {
                    required: 'Enter CVV2',
                    digits: 'Digits only'
                },
                month: {
                    required: 'Select month'
                },
                year: {
                    required: 'Enter year',
                    digits: 'Digits only please'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

      



    })

    </script>
}

