			
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                TRP Management
                <span>
                    >&nbsp;
                    TRP Registration
                </span>
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <!-- end col -->

    </div>
    <!-- end row -->
    <!--
                The ID "widget-grid" will start to initialize all widgets below
                You do not need to use widgets if you dont want to. Simply remove
                the <section></section> and you can use wells or panels instead
                -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2 style="font-weight:bold;">TRP Registration </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form" class="smart-form">
                                <form action="@Url.Action("Index", "TRPRegistration")" method="POST" id="checkout-form" class="smart-form" novalidate="novalidate" autocomplete="off">

                                    <fieldset style="margin-bottom:9px;">
                                        
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"  style="color:red;">*</i>
                                                <input type="text" name="aggregatorid" placeholder="TRP Id" maxlength="15">
                                            </label>
                                        </section>

                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-user"  style="color:red;">*</i>
                                                    <input type="text" name="name" placeholder="TRP Name" id="name">
                                                </label>
                                            </section>
                                                 

                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope"  style="color:red;">*</i>
                                                    <input type="email" name="email" placeholder="TRP Email">
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-phone"  style="color:red;">*</i>
                                                    <input type="text" name="phone" placeholder="TRP Mobile Number" id="mobileno" maxlength="10" >
                                                </label>
                                            </section>
                                           
                                      


                                    </fieldset>

                                    <footer>
                                        <button type="submit" class="btn btn-primary" style="border-radius:8px;">
                                            Register
                                        </button>
                                    </footer>
                                </form>
                                <div class="message">
                                    <i class="fa fa-check fa-lg"></i>
                                    <p>
                                        Your comment was successfully added!
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>

            </article>
            <!-- end widget -->
            <!-- Widget ID (each widget will need unique ID)-->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="font-weight:bold;">TRP List</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form1" class="smart-form">

                                <fieldset>
                                    <div class="row" >


                                        @{Html.RenderPartial("_TrpList");}



                                    </div>
                                </fieldset>



                                <div class="message">
                                    <i class="fa fa-check fa-lg"></i>
                                    <p>
                                        Your comment was successfully added!
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>           <!-- end widget -->
        </div>

        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>






@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
    </script>
}

@section pagespecific {
    <script type="text/javascript">


        $('#name').bind('keypress', textInput);
     
        $('#mobileno').bind('keypress', numericInput);

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        var $checkoutForm = $('#checkout-form').validate({
            // Rules for form validation
            rules: {
                name: {
                    required: true
                },
                aggregatorid: {
                    required: true
                },
                username: {
                    required: true

                },
                Password: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    minlength: 10,
                    maxlength: 10

                },
                Role_Name: {
                    required: true

                },
                CategoryId: {
                    required: true
                },
                name: {
                    required: true
                },
                card: {
                    required: true,
                    creditcard: true
                },
                cvv: {
                    required: true,
                    digits: true
                },
                month: {
                    required: true
                },
                year: {
                    required: true,
                    digits: true
                }
            },

            // Messages for form validation
            messages: {
                name: {
                    required: 'Please enter TRP Name'
                },
                aggregatorid: {
                    required: 'Please enter TRP Id'
                },
                username: {
                    required: 'Please enter Username'

                },
                Password: {
                    required: 'Please enter Password'
                },
                email: {
                    required: 'Please enter  Email',
                    email: 'Please enter a VALID email'
                },

                phone: {
                    required: 'Please enter  Mobile Number ',
                    digits: 'Digits only please'
                },
                Role_Name: {
                    required: 'Please select Role'
                },
                CategoryId: {
                    required: 'Please select GSTIN Number'
                },
                card: {
                    required: 'Please enter your card number'
                },
                cvv: {
                    required: 'Enter CVV2',
                    digits: 'Digits only'
                },
                month: {
                    required: 'Select month'
                },
                year: {
                    required: 'Enter year',
                    digits: 'Digits only please'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });





    })

    </script>
}

